<div class="background">
  <div class="no">
  </div>

   <h2 class="login-title"><span class=login-title1>ログイン</span></h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="reg-log">
      <div class="reg-log1">
        <div class="reg-log2">
          <span class="indispensable">必須</span>
          <p class="reg-p">email</p>
        </div>
        <div class="reg-log3">
          <%= f.email_field :email, class: 'reg5'%>
        </div>
      </div>

      <div class="reg-log1">
        <div class="reg-log2">
          <span class="indispensable">必須</span>
          <p class="reg-p">password</p>
        </div>
        <div class="reg-log3">
          <%= f.password_field :password, class: 'reg5'%>
        </div>
      </div>

      <div class="reg-log1">
        <div class="reg-log2">
          <span class="indispensable">必須</span>
          <p class="reg-p">password(確認)</p>
        </div>
        <div class="reg-log3">
          <%= f.password_field :password_confirmation, class: 'reg5'%>
        </div>
      </div>    

      <%# <% if devise_mapping.rememberable? %> 
        <%# <div class="field"> %>
          <%# <%= f.check_box :remember_me %> 
          <%# <%= f.label :remember_me %> 
        <%# </div> %>
      <%# <% end %> 

      <div class="send-btn">
        <%= f.submit "ログイン", class: 'send-btn1' %>
      </div>
    <% end %>
  </div>
</div>
