<!DOCTYPE html>
<html>
  <head>
    <title>VacantRoom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        
      <div class="nav-clor">
        <div id="nav-drawer">
          <input id="nav-input" type="checkbox" class="nav-unshown">
          <label id="nav-open" for="nav-input"><span></span></label>
          <label class="nav-unshown" id="nav-close" for="nav-input"></label>

          <div id="nav-content">
            <%= form_with(url: search_rooms_path, local: true, method: :get, class: "search-form") do |form| %>
            
            <div class="search">
              <%= form.text_field :keyword, placeholder: "検索する", class: "search-input" %>
              <%= form.submit "検索", class: "search-btn" %>
              <% end %>
            </div>
            <ul class="list-contents">
              <li class="list">リスト1</li>
              <li class="list">リスト2</li>
              <li class="list">リスト3</li>
              <li class="list">リスト4</li>
              <li class="list">リスト5</li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="new">
        <h1 class="title"><a href="/">vacant@room</a></h1>
        <div class="new1">
           <% if user_signed_in? %>
              <%= link_to current_user.name, class: "login" %>
              <%= link_to "ログアウト", destroy_user_session_path,method: :delete, class: "login" %>
              <% else %>
               <%= link_to "ログイン", new_user_session_path, class: "login"%>
               <%= link_to "会員登録", new_user_registration_path, class: "login"%>
            <% end %>
        </div>
      </div>
    </header>
      
      <div class="menu">
      <ul class="menu-list">
        <li class="menu-list1"><a heref="#">リスト1</a></li>
        <li class="menu-list1"><a heref="#">リスト2</a></li>
        <li class="menu-list1"><a heref="#">リスト3</a></li>
        <li class="menu-list1"><a heref="#">リスト4</a></li>
        <li class="menu-list1"><a heref="#">リスト5</a></li>
      </ul>
    </div>

    <%= yield %>
    <footer>
      <p class="footer">Copyright vacant@room 2020.</p>
    </footer>
  </body>
</html>